.custom-input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.custom-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-input-container.focused .custom-input {
  border-color: #0056b3;
}

.custom-input-legend {
  font-size: 10px;
  display: block;
  background: white;
  margin-right: 9px;
  position: absolute;
  margin-top: -8px;
  padding: 0 3px;
}
